{"openapi":"3.1.0","info":{"title":"Product API","description":"### Access\n\nThe Product API is a public API. If you want to make use of this api, contact someone on the team to get an API key.\n\nEach endpoint also lists the necessary permissions to call it. You can view your own permissions by calling the `/me`\nendpoint.  \nIn a few cases some of the listed permissions are optional and depend upon the specific data requested.\n\n### Tracing\n\nThe API uses X-request-ID and X-correlation-ID headers.  \nEvery request that hits the API without these headers, gets a new random UUID as request-ID and correlation-ID.\n\nIf you as a client pass these id's yourself, the API will use your values, but only when they are in UUID format.  \nIf you provide a value that is not a UUID, the api will fail to handle your request.\n\nProviding these values enables distributed request correlation & tracing.\n\n### Rate limiting\n\nGET calls to this API are rate limited.  \nThis rate limit is configured per client. You can request a higher rate limit if needed.\n\nThe rate limit uses a token bucket that is refilled within a fixed timeframe.  \nEach request can use multiple tokens, depending on the number of items requested.\n\nInformation about your current limit is conveyed via the response headers of each response: \n| Header                | Description                                                                                                    | Example                |\n|-----------------------|----------------------------------------------------------------------------------------------------------------|------------------------|\n| X-RateLimit-Reset     | The time at which the rate limit will reset                                                                    | 2025-07-14T15:23:45Z   |\n| X-RateLimit-Limit     | The maximum number of tokens to be used in the current time window                                             | 2000                   |\n| X-RateLimit-Remaining | The number of tokens remaining in the current time window                                                      | 670                    |\n| Retry-After           | Indicates how many seconds the client should wait before making a new request (only when response code is 429) | 42                     |\n\n### Contact\n","contact":{"name":"Informeren op maat team","email":"iom@groepen.vlaanderen.be"}},"servers":[{"url":"https://api.ipdc.tni-vlaanderen.be","description":"Generated server url"}],"tags":[{"name":"Identity"},{"name":"Instantie"},{"name":"Concept"},{"name":"Product"},{"name":"Verrijking"},{"name":"Codelijsten"},{"name":"Instantie LDES"},{"name":"Concept LDES"}],"paths":{"/doc/instantie/{idOrProductnummer}/dearchive":{"put":{"tags":["Instantie"],"summary":"Dearchive the instantie based on instantie-id or instantieIdOrProductnummer.","description":"\n\n**Permissions**: INSTANTIE_DEARCHIVE","operationId":"dearchiveInstantie","parameters":[{"name":"idOrProductnummer","in":"path","description":"Pass the instantie-id or instantieIdOrProductnummer for the instantie to dearchive","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No content"},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/concept/{idOrProductnummer}/dearchive":{"put":{"tags":["Concept"],"summary":"Dearchive the concept based on concept-id or productnummer.","description":"\n\n**Permissions**: CONCEPT_DEARCHIVE","operationId":"dearchiveConcept","parameters":[{"name":"idOrProductnummer","in":"path","description":"Pass the concept-id or the productnummer for the concept to dearchive","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No content"},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/instantie":{"get":{"tags":["Instantie"],"summary":"Fetch instantie page. Filter by using requestparams.","description":"\n\n**Permissions**: INSTANTIE_READ","operationId":"findInstantiePage","parameters":[{"name":"pageIndex","in":"query","description":"Specifies the page the API needs to return. Default 0 (first page)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Specifies the amount of instances on one page.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sortBy","in":"query","description":"On which property to sort","required":false,"schema":{"type":"string","description":"On which property to sort","enum":["LAATST_AANGEMAAKT","LAATST_GEWIJZIGD","LAATST_AANGEMAAKT","LAATST_GEWIJZIGD"]}},{"name":"concept","in":"query","description":"If specified, the API will only return instances that are coupled with the specified conceptId","required":false,"schema":{"type":"string"}},{"name":"vertaling","in":"query","description":"If specified, the API will only return instances of that language","required":false,"schema":{"type":"string","description":"If specified, the API will only return instances of that language","enum":["nl","fr","de","en"]}},{"name":"geografischeToepassingsgebieden","in":"query","description":"If specified, the API will only return instances for the given geografische gebieden and/or zip code (List). E.g. BE25838016, 1000(zip code). Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"includeParentGeografischeToepassingsgebieden","in":"query","description":"If specified, the API will not only return instances for the given geografische gebieden (List). E.g. BE25838016, but also instances of parent gebieden. E.g. BE258 and BE23, BE2, BE","required":false,"schema":{"type":"boolean"},"example":true},{"name":"zoekterm","in":"query","description":"If specified, the API will only return instances where the name and/or description and/or search terms matches the value of the zoekterm.  If the 'vertalingen' queryparam is passed, we will only look for a match in instances for the specified language.","required":false,"schema":{"type":"string"}},{"name":"uitvoerendBestuursniveaus","in":"query","description":"If specified, the API will only return instances with the given uitvoerendBestuursniveau. E.g. Vlaams. Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"bevoegdBestuursniveaus","in":"query","description":"If specified, the API will only return instances with the given bevoegdBestuursniveau. E.g. Europees. Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"doelgroepen","in":"query","description":"If specified, the API will only return instances with the given doelgroep. E.g. Burger. Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"themas","in":"query","description":"If specified, the API will only return instances with the given thema. E.g. BurgerOverheid. Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"types","in":"query","description":"If specified, the API will only return instances with one of the given types. E.g. AdviesBegeleiding. Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"publicatiekanalen","in":"query","description":"If specified, the API will only return instances with the given publicatiekanalen. E.g. YourEurope. Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"cases","in":"query","description":"If specified, the API will only return instances with the given cases. E.g. Rechtenverkenner.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"gearchiveerd","in":"query","description":"If true, the API will also return instances that have been archived","required":false,"schema":{"type":"boolean"}},{"name":"uitvoerendeOrganisatie","in":"query","description":"If specified the result will only contain instances with the given uitvoerende organisatie","required":false,"schema":{"type":"string"}},{"name":"socialeKaartOrganisatie","in":"query","description":"If specified the result will only contain instances with the given sociale kaart organisatie","required":false,"schema":{"type":"string"}},{"name":"eindDatumVanaf","in":"query","description":"If specified, the result wil only contain the instances having an end Date that is larger than the specified date, or has an empty end date. This Using the ISO specification ISO specification (yyyy-MM-ddThh:mm:ssZ).","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/HydraCollectionJsonLdWrappedJsonInstantieJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/HydraCollectionJsonLdWrappedJsonInstantieJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}},"post":{"tags":["Instantie"],"summary":"Create a new instantie or (if id/instantieIdOrProductnummer in body) update an instantie.","description":"\n\n**Permissions**: INSTANTIE_WRITE_LOCAL, INSTANTIE_WRITE_NON_LOCAL, INSTANTIE_WRITE_WITH_ID, INSTANTIE_WRITE_WITH_PRODUCTNUMMER","operationId":"createOrUpdateInstantie","requestBody":{"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/UpsertInstantieJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/UpsertInstantieJson"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/JsonLdWrappedJsonInstantieJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/JsonLdWrappedJsonInstantieJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/concept":{"get":{"tags":["Concept"],"summary":"Fetch concepten page. Filter by using requestparams.","description":"\n\n**Permissions**: CONCEPT_READ","operationId":"findPage","parameters":[{"name":"pageIndex","in":"query","description":"Specifies the page that the API will return. Default 0 (first page)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Specifies the amount of concepts on one page.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sortBy","in":"query","description":"On which property to sort","required":false,"schema":{"type":"string","description":"On which property to sort","enum":["LAATST_AANGEMAAKT","LAATST_GEWIJZIGD","LAATST_AANGEMAAKT","LAATST_GEWIJZIGD"]}},{"name":"vertaling","in":"query","description":"If specified, the API will only return concepts of that language","required":false,"schema":{"type":"string","description":"If specified, the API will only return concepts of that language","enum":["nl","fr","de","en"]}},{"name":"zoekterm","in":"query","description":"If specified, the API will only return concepts where the name and/or description and/or search terms matches the value of the zoekterm.  If the 'vertalingen' queryparam is passed, we will only look for a match in concepts for the specified language.","required":false,"schema":{"type":"string"}},{"name":"uitvoerendBestuursniveaus","in":"query","description":"If specified, the API will only return concepts with the given uitvoerendBestuursniveau. E.g. Vlaams. Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"bevoegdBestuursniveaus","in":"query","description":"If specified, the API will only return concepts with the given bevoegdBestuursniveau. E.g. Europees. Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"doelgroepen","in":"query","description":"If specified, the API will only return concepts with the given doelgroep. E.g. Burger. Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"themas","in":"query","description":"If specified, the API will only return concepts with the given thema. E.g. BurgerOverheid. Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"types","in":"query","description":"If specified, the API will only return concepts with one of the given types. E.g. AdviesBegeleiding. Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"gearchiveerd","in":"query","description":"If true, the API will also return concepts that have been archived","required":false,"schema":{"type":"boolean"}},{"name":"eindDatumVanaf","in":"query","description":"If specified, the result wil only contain the concepts having an end Date larger than the specified date, or has an empty end date. This Using the ISO specification ISO specification (yyyy-MM-ddThh:mm:ssZ).","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/HydraCollectionJsonLdWrappedJsonConceptJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/HydraCollectionJsonLdWrappedJsonConceptJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}},"post":{"tags":["Concept"],"summary":"Create a new concept or (if id/productnummer in body) update a concept.","description":"\n\n**Permissions**: CONCEPT_WRITE, CONCEPT_WRITE_WITH_PRODUCTNUMMER","operationId":"createOrUpdateConcept","requestBody":{"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/UpsertConceptJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/UpsertConceptJson"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/JsonLdWrappedJsonConceptJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/JsonLdWrappedJsonConceptJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/verrijking/{caseId}":{"get":{"tags":["Verrijking"],"summary":"Fetch a verrijking case based on case-id. A Verrijking case contains all conditions with all possible options.","description":"\n\n**Permissions**: VERRIJKING_CASE_READ","operationId":"findById","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"string","enum":["verenigingsloket"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerrijkingCaseJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/verrijking/{caseId}/voorwaarde/{voorwaardeId}/usage":{"get":{"tags":["Verrijking"],"description":"\n\n**Permissions**: VERRIJKING_CASE_READ","operationId":"getVerrijkingVoorwaardeUsage","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"string","enum":["verenigingsloket"]}},{"name":"voorwaardeId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerrijkingUsage"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/verrijking/{caseId}/voorwaarde/{voorwaardeId}/optie/{optieId}/usage":{"get":{"tags":["Verrijking"],"description":"\n\n**Permissions**: VERRIJKING_CASE_READ","operationId":"getVerrijkingVoorwaardeOptieUsage","parameters":[{"name":"caseId","in":"path","required":true,"schema":{"type":"string","enum":["verenigingsloket"]}},{"name":"voorwaardeId","in":"path","required":true,"schema":{"type":"string"}},{"name":"optieId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerrijkingUsage"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/me":{"get":{"tags":["Identity"],"summary":"Get information about your user such as permissions and rate limits.","operationId":"getMe","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MeJson"}}}}}}},"/id/product/{idOrProductnummer}":{"get":{"tags":["Product"],"summary":"Fetch the details of a instantie or concept. Redirects to /doc/product/{idOrProductnummer}.","description":"\n\n**Permissions**: PRODUCT_READ","operationId":"findProductByIdOrProductnummer","parameters":[{"name":"idOrProductnummer","in":"path","description":"Pass the id or the productnummer of the product to fetch","required":true,"schema":{"type":"string"}}],"responses":{"303":{"description":"Redirects to /doc/product/{idOrProductnummer}"},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/id/instantiesnapshot":{"get":{"tags":["Instantie LDES"],"summary":"Fetch the most recent instantie snapshot page of the LDES stream. Redirects to /doc/instantiesnapshot.","description":"\n\n**Permissions**: INSTANTIE_SNAPSHOT_READ","operationId":"getInstantieLastPageLdesStream","responses":{"303":{"description":"Redirects to /doc/instantiesnsapshot"},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/id/instantiesnapshot/{id}":{"get":{"tags":["Instantie LDES"],"summary":"Fetch an instantie snapshot by id. Redirects to /doc/instantiesnapshot/{id}.","description":"\n\n**Permissions**: INSTANTIE_SNAPSHOT_READ","operationId":"getInstantieSnapshotByIdRedirect","parameters":[{"name":"id","in":"path","description":"The id of the instantie snapshot","required":true,"schema":{"type":"string"}}],"responses":{"303":{"description":"Redirects to /doc/instantiesnsapshot/{id}"},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/id/instantie":{"get":{"tags":["Instantie"],"summary":"Fetch the first instantie page. Redirects to /doc/instantie.","description":"\n\n**Permissions**: INSTANTIE_READ","operationId":"redirectToFindInstantiePage","responses":{"303":{"description":"Redirects to /doc/instantie"},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/id/instantie/{idOrProductnummer}":{"get":{"tags":["Instantie"],"summary":"Fetch the details of the instantie. Redirects to /doc/instantie/{idOrProductnummer}.","description":"\n\n**Permissions**: INSTANTIE_READ","operationId":"findInstantieByIdOrProductnummerRedirect","parameters":[{"name":"idOrProductnummer","in":"path","description":"Pass the instantie-id or the productnummer of the instantie to fetch","required":true,"schema":{"type":"string"}}],"responses":{"303":{"description":"Redirects to /doc/instantie/{idOrProductnummer}"},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/id/conceptsnapshot":{"get":{"tags":["Concept LDES"],"summary":"Fetch the most recent concept snapshot page of the LDES stream. Redirects to /doc/conceptsnapshot.","description":"\n\n**Permissions**: CONCEPT_SNAPSHOT_READ","operationId":"getConceptenLastPageLdesStream","responses":{"303":{"description":"Redirects to /doc/conceptsnsapshot"},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/id/conceptsnapshot/{id}":{"get":{"tags":["Concept LDES"],"summary":"Fetch a concept snapshot by id. Redirects to /doc/conceptsnapshot/{id}.","description":"\n\n**Permissions**: CONCEPT_SNAPSHOT_READ","operationId":"getConceptSnapshotByIdRedirect","parameters":[{"name":"id","in":"path","description":"The id of the concept snapshot","required":true,"schema":{"type":"string"}}],"responses":{"303":{"description":"Redirects to /doc/conceptsnsapshot/{id}"},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/id/concept":{"get":{"tags":["Concept"],"summary":"Fetch the first concept page. Redirects to /doc/concept.","description":"\n\n**Permissions**: CONCEPT_READ","operationId":"redirectToFindConceptPage","responses":{"303":{"description":"Redirects to /doc/concept"},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/id/concept/{idOrProductnummer}":{"get":{"tags":["Concept"],"summary":"Fetch de details of the concept. Redirects to /doc/concept/{idOrProductnummer}.","description":"\n\n**Permissions**: CONCEPT_READ","operationId":"redirectToFindConceptByIdOrProductnummer","parameters":[{"name":"idOrProductnummer","in":"path","description":"You can pass the uuid or the productnumber for a concept to fetch it by id","required":true,"schema":{"type":"string"}}],"responses":{"303":{"description":"Redirects to /doc/concept/{idOrProductnummer}"},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/product":{"get":{"tags":["Product"],"summary":"Fetch product page. Filter by using requestparams.","description":"\n\n**Permissions**: PRODUCT_READ","operationId":"findProductPage","parameters":[{"name":"pageIndex","in":"query","description":"Specifies the page the API needs to return. Default 0 (first page)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Specifies the amount of instances on one page.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"vertaling","in":"query","description":"If specified, the API will only return instances of that language","required":false,"schema":{"type":"string","description":"If specified, the API will only return instances of that language","enum":["nl","fr","de","en"]}},{"name":"zoekterm","in":"query","description":"If specified, the API will only return instances where the name and/or description and/or search terms matches the value of the zoekterm.  If the 'vertalingen' queryparam is passed, we will only look for a match in instances for the specified language.","required":false,"schema":{"type":"string"}},{"name":"gearchiveerd","in":"query","description":"If true, the API will also return concepts that have been archived","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/HydraCollectionProductJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/HydraCollectionProductJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/product/{idOrProductnummer}":{"get":{"tags":["Product"],"summary":"Fetch the details of a instantie or concept","description":"\n\n**Permissions**: PRODUCT_READ","operationId":"getProduct","parameters":[{"name":"idOrProductnummer","in":"path","description":"Pass the id or the productnummer of the product to fetch","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ProductJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProductJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/product/byIdsOrProductnummers/{ids}":{"get":{"tags":["Product"],"summary":"Fetch the details of the producten.","description":"\n\n**Permissions**: PRODUCT_READ","operationId":"findProductenByIdsOrProductnummers","parameters":[{"name":"ids","in":"path","description":"Pass the product-ids or productnummers of the products to fetch.\nThis should be encoded as a comma-separated list.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductJson"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductJson"}}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/instantiesnapshot":{"get":{"tags":["Instantie LDES"],"summary":"Fetch an instantie snapshot page of the LDES stream.","description":"\n\n**Permissions**: INSTANTIE_SNAPSHOT_READ","operationId":"getInstantiesPageLdesStream","parameters":[{"name":"pageNumber","in":"query","description":"Specifies the page the API needs to return. Default last page.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Specifies the amount of instance snapshots on one page.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"instantie","in":"query","description":"The instantie-id or productnummer of the instantie snapshot","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/EventStreamSnapshotJsonInstantieJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/EventStreamSnapshotJsonInstantieJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/instantiesnapshot/{id}":{"get":{"tags":["Instantie LDES"],"summary":"Fetch an instantie snapshot by id.","description":"\n\n**Permissions**: INSTANTIE_SNAPSHOT_READ","operationId":"getInstantieSnapshotById","parameters":[{"name":"id","in":"path","description":"The id of the instantie snapshot","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/SnapshotJsonInstantieJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotJsonInstantieJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/instantie/{idOrProductnummer}":{"get":{"tags":["Instantie"],"summary":"Fetch the details of the instantie.","description":"\n\n**Permissions**: INSTANTIE_READ","operationId":"findInstantieByIdOrProductnummer","parameters":[{"name":"idOrProductnummer","in":"path","description":"Pass the instantie-id or the instantieIdOrProductnummer of the instantie to fetch","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/JsonLdWrappedJsonInstantieJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/JsonLdWrappedJsonInstantieJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}},"delete":{"tags":["Instantie"],"summary":"Archive the instantie based on instantie-id or instantieIdOrProductnummer.","description":"\n\n**Permissions**: INSTANTIE_ARCHIVE","operationId":"archiveInstantie","parameters":[{"name":"idOrProductnummer","in":"path","description":"Pass the instantie-id or instantieIdOrProductnummer for the instantie to archive","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No content"},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/instantie/{idOrProductnummer}/delta":{"get":{"tags":["Instantie"],"description":"\n\n**Permissions**: INSTANTIE_DELTA_READ","operationId":"getInstantieDelta","parameters":[{"name":"idOrProductnummer","in":"path","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","required":true,"schema":{"type":"string"}},{"name":"to","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/InstantieDeltaJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/InstantieDeltaJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/instantie/export":{"get":{"tags":["Instantie"],"summary":"Fetch instanties page to export. Filter by using requestparams.","description":"\n\n**Permissions**: INSTANTIE_EXPORT","operationId":"exportInstanties","parameters":[{"name":"pageIndex","in":"query","description":"Specifies the page the API needs to return. Default 0 (first page)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Specifies the amount of instances on one page.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"laatstOntvangenVanaf","in":"query","description":"If specified, the API will only return instances that have been received from the given timestamp. Using the ISO specification (yyyy-MM-ddThh:mm:ssZ)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"bevoegdBestuursniveaus","in":"query","description":"If specified, the API will only return instances with the given bevoegdBestuursniveau. E.g. Europees. Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"geografischeToepassingsgebieden","in":"query","description":"If specified, the API will only return instances for the given geografische gebieden and/or zip code (List). E.g. BE25838016, 1000(zip code). Possible values can be fetched using the codelijst endpoint.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"includeParentGeografischeToepassingsgebieden","in":"query","description":"If specified, the API will not only return instances for the given geografische gebieden (List). E.g. BE25838016, but also instances of parent gebieden. E.g. BE258 and BE23, BE2, BE","required":false,"schema":{"type":"boolean"},"example":true}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/HydraCollectionJsonLdWrappedJsonInstantieJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/HydraCollectionJsonLdWrappedJsonInstantieJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/instantie/export/byLaatstOntvangen":{"get":{"tags":["Instantie"],"summary":"Fetch instanties page to export. Filter by laatstOntvangen in requestParams.","description":"\n\n**Permissions**: INSTANTIE_EXPORT","operationId":"exportInstantiesFilterByDate","parameters":[{"name":"pageIndex","in":"query","description":"Specifies the page the API needs to return. Default 0 (first page)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Specifies the amount of instances on one page.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"laatstOntvangenVanaf","in":"query","description":"If specified, the API will only return instances that have been received from the given timestamp. Using the ISO specification (yyyy-MM-ddThh:mm:ssZ)","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/HydraCollectionJsonLdWrappedJsonInstantieJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/HydraCollectionJsonLdWrappedJsonInstantieJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/instantie/byIds/{ids}":{"get":{"tags":["Instantie"],"summary":"Fetch the details of the instanties.","description":"\n\n**Permissions**: INSTANTIE_READ","operationId":"findInstantiesByIdsOrProductnummers","parameters":[{"name":"ids","in":"path","description":"Pass the instantie-ids or productnummers of the instanties to fetch.\nThis should be encoded as a comma-separated list.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JsonLdWrappedJsonInstantieJson"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JsonLdWrappedJsonInstantieJson"}}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/conceptsnapshot":{"get":{"tags":["Concept LDES"],"summary":"Fetch a concept snapshot page of the LDES stream.","description":"\n\n**Permissions**: CONCEPT_SNAPSHOT_READ","operationId":"getConceptenPageLdesStream","parameters":[{"name":"pageNumber","in":"query","description":"Specifies the page the API needs to return. Default last page.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Specifies the amount of instance snapshots on one page.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"concept","in":"query","description":"The concept-id or productnummer of the concept snapshot","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/EventStreamSnapshotJsonConceptJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/EventStreamSnapshotJsonConceptJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/conceptsnapshot/{id}":{"get":{"tags":["Concept LDES"],"summary":"Fetch a concept snapshot by id.","description":"\n\n**Permissions**: CONCEPT_SNAPSHOT_READ","operationId":"getConceptSnapshotById","parameters":[{"name":"id","in":"path","description":"The id of the concept snapshot","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/SnapshotJsonConceptJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotJsonConceptJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/concept/{idOrProductnummer}":{"get":{"tags":["Concept"],"summary":"Fetch the details of the concept.","description":"\n\n**Permissions**: CONCEPT_READ","operationId":"findConceptByIdOrProductnummer","parameters":[{"name":"idOrProductnummer","in":"path","description":"Pass the concept-id or productnummer for the concept to fetch","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/JsonLdWrappedJsonConceptJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/JsonLdWrappedJsonConceptJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}},"delete":{"tags":["Concept"],"summary":"Archive the concept based on concept-id or productnummer.","description":"\n\n**Permissions**: CONCEPT_ARCHIVE","operationId":"archiveConcept","parameters":[{"name":"idOrProductnummer","in":"path","description":"Pass the concept-id or the productnummer for the concept to archive","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No content"},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/concept/{idOrProductnummer}/delta":{"get":{"tags":["Concept"],"description":"\n\n**Permissions**: CONCEPT_DELTA_READ","operationId":"getConceptDelta","parameters":[{"name":"idOrProductnummer","in":"path","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","required":true,"schema":{"type":"string"}},{"name":"to","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ConceptDeltaJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/ConceptDeltaJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/concept/export":{"get":{"tags":["Concept"],"summary":"Fetch concept page to export. Filter by laatstOntvangen in requestParams.","description":"\n\n**Permissions**: CONCEPT_EXPORT","operationId":"export","parameters":[{"name":"pageIndex","in":"query","description":"Specifies the page the API needs to return. Default 0 (first page)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"Specifies the amount of concepts on one page.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"laatstOntvangenVanaf","in":"query","description":"If specified, the API will only return concepten that have been received from the given timestamp. Using the ISO specification (yyyy-MM-ddThh:mm:ssZ)","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/HydraCollectionJsonLdWrappedJsonConceptJson"}},"application/json":{"schema":{"$ref":"#/components/schemas/HydraCollectionJsonLdWrappedJsonConceptJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/doc/concept/byIds/{ids}":{"get":{"tags":["Concept"],"summary":"Fetch the details of the concepten.","description":"\n\n**Permissions**: CONCEPT_READ","operationId":"findConceptsByIdsOrProductnummers","parameters":[{"name":"ids","in":"path","description":"Pass the concept-ids or productnummers of the concepten to fetch.\nThis should be encoded as a comma-separated list.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JsonLdWrappedJsonConceptJson"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JsonLdWrappedJsonConceptJson"}}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/api/codelijsten/{id}":{"get":{"tags":["Codelijsten"],"summary":"Fetch a codelijst based on codelijst-id.","description":"\n\n**Permissions**: CODELIJST_READ","operationId":"getCodelijst","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","enum":["taal-dienstverlening","bevoegd-bestuursniveau","uitvoerend-bestuursniveau","your-europe-categorie","concept-tag","instantie-tag","doelgroep","geografisch-toepassingsgebied","publicatie-kanaal","thema","type","subsidiemaatregel"]}},{"name":"only-roots","in":"query","description":"Some codelijsten contain hierarchy. With this property you can control whether to only fetch the first level or the whole codelijst.","required":false,"schema":{"type":"boolean"}},{"name":"include-inactive","in":"query","description":"If true, the API will also return inactive nodes","required":false,"schema":{"type":"boolean"},"example":false}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodelijstJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}},"/api/codelijsten/{id}/{parentId}":{"get":{"tags":["Codelijsten"],"summary":"Fetch a codelijst based on codelijst-id and parent-id.","description":"\n\n**Permissions**: CODELIJST_READ","operationId":"getCodelijstByParentId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","enum":["taal-dienstverlening","bevoegd-bestuursniveau","uitvoerend-bestuursniveau","your-europe-categorie","concept-tag","instantie-tag","doelgroep","geografisch-toepassingsgebied","publicatie-kanaal","thema","type"]}},{"name":"parentId","in":"path","description":"When a codelijst contains hierarchy, you can fetch all the nodes of a certain parentId by specifying the parentId. 'Reizen' is an example node in the codelijst 'your-europe' that has child nodes you can fetch.","required":true,"schema":{"type":"string"},"example":"Reizen"},{"name":"include-inactive","in":"query","description":"If true, the API will also return inactive nodes","required":false,"schema":{"type":"boolean"},"example":false}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodelijstJson"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorised"},"415":{"description":"Mediatype not supported","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Provided media type is not accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too many requests","headers":{"Retry-After":{"description":"Indicates how long the client should wait before making a new request","style":"simple","schema":{"type":"number","example":120}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}}}}}},"components":{"schemas":{"ErrorDto":{"properties":{"status":{"type":"integer","format":"int32"},"type":{"type":"string"},"title":{"type":"object","example":{"nl":"Er is iets mis gegaan","en":"Something went wrong"}},"detail":{"type":"object","example":{"nl":"Er is iets mis gegaan","en":"Something went wrong"}},"instance":{"type":"string"}}},"Bewijs":{"properties":{"beschrijving":{"type":"object","example":{"nl":"Een nederlandse vertaling","en":"An english translation"}},"naam":{"type":"object","example":{"nl":"Een nederlandse vertaling","en":"An english translation"}}}},"ContactOrganisatie":{"properties":{"id":{"type":"object","example":"https://url"}}},"InputVertalingen":{"properties":{"talen":{"type":"array","items":{"$ref":"#/components/schemas/TaalString"},"uniqueItems":true}}},"PubliekeOrganisatie":{"properties":{"id":{"type":"object","example":"https://url"}}},"ShaclOrderedJsonLdTypedUpsertWebsite":{"properties":{"naam":{"$ref":"#/components/schemas/InputVertalingen"},"beschrijving":{"$ref":"#/components/schemas/InputVertalingen"},"url":{"type":"object","example":"https://url"},"@type":{"type":"string"},"order":{"type":"integer","format":"int32"}}},"ShaclOrderedUpsertContactgegevens":{"properties":{"adres":{"$ref":"#/components/schemas/UpsertAdres"},"email":{"type":"object","example":"email@hotmail.com"},"telefoonnummer":{"type":"object","example":"0489726398"},"openingsuren":{"type":"string"},"url":{"type":"object","example":"https://url"},"order":{"type":"integer","format":"int32"}}},"ShaclOrderedUpsertFinancieelVoordeel":{"properties":{"naam":{"$ref":"#/components/schemas/InputVertalingen"},"beschrijving":{"$ref":"#/components/schemas/InputVertalingen"},"order":{"type":"integer","format":"int32"}}},"ShaclOrderedUpsertKost":{"properties":{"naam":{"$ref":"#/components/schemas/InputVertalingen"},"beschrijving":{"$ref":"#/components/schemas/InputVertalingen"},"order":{"type":"integer","format":"int32"}}},"ShaclOrderedUpsertProcedureJson":{"properties":{"naam":{"$ref":"#/components/schemas/InputVertalingen"},"beschrijving":{"$ref":"#/components/schemas/InputVertalingen"},"websites":{"type":"array","items":{"$ref":"#/components/schemas/ShaclOrderedJsonLdTypedUpsertWebsite"}},"order":{"type":"integer","format":"int32"}}},"ShaclOrderedUpsertRegelgeving":{"properties":{"naam":{"$ref":"#/components/schemas/InputVertalingen"},"beschrijving":{"$ref":"#/components/schemas/InputVertalingen"},"id":{"type":"object","example":"https://url"},"order":{"type":"integer","format":"int32"}}},"ShaclOrderedUpsertVerwantProductJson":{"properties":{"id":{"type":"object","format":"uuid","example":null},"productnummer":{"type":"object","example":1018},"order":{"type":"integer","format":"int32"}}},"ShaclOrderedUpsertVoorwaarde":{"properties":{"naam":{"$ref":"#/components/schemas/InputVertalingen"},"beschrijving":{"$ref":"#/components/schemas/InputVertalingen"},"bewijs":{"$ref":"#/components/schemas/Bewijs"},"order":{"type":"integer","format":"int32"}}},"ShaclOrderedUpsertWebsite":{"properties":{"naam":{"$ref":"#/components/schemas/InputVertalingen"},"beschrijving":{"$ref":"#/components/schemas/InputVertalingen"},"url":{"type":"object","example":"https://url"},"order":{"type":"integer","format":"int32"}}},"TaalString":{"properties":{"taal":{"type":"string","enum":["NEDERLANDS","NEDERLANDS_FORMEEL","NEDERLANDS_FORMEEL_GENERATED","NEDERLANDS_INFORMEEL","NEDERLANDS_INFORMEEL_GENERATED","NEDERLANDS_U","NEDERLANDS_JE","FRANS","DUITS","ENGELS","ENGELS_GENERATED"]},"vertaling":{"type":"array","items":{"type":"string"}}}},"UpsertAdres":{"properties":{"land":{"$ref":"#/components/schemas/InputVertalingen"},"huisnummer":{"type":"string"},"busnummer":{"type":"string"},"postcode":{"type":"string"},"gemeentenaam":{"$ref":"#/components/schemas/InputVertalingen"},"straatnaam":{"$ref":"#/components/schemas/InputVertalingen"}}},"UpsertInstantieJson":{"description":"The required fields are: naam, beschrijving, geografischeToepassingsgebieden (min 1) and bevoegdeOverheden (min 1)","properties":{"id":{"type":"object","format":"uuid","example":null},"bevoegdBestuursniveaus":{"type":"array","items":{"type":"object","enum":["Europees","Federaal","Vlaams","Provinciaal","Lokaal"],"example":"Europees"},"uniqueItems":true},"uitvoerendBestuursniveaus":{"type":"array","items":{"type":"object","enum":["Europees","Federaal","Vlaams","Provinciaal","Lokaal","Derden"],"example":"Europees"},"uniqueItems":true},"naam":{"$ref":"#/components/schemas/InputVertalingen"},"beschrijving":{"$ref":"#/components/schemas/InputVertalingen"},"verdereBeschrijving":{"$ref":"#/components/schemas/InputVertalingen"},"startDienstVerlening":{"type":"string","format":"date-time"},"eindeDienstVerlening":{"type":"string","format":"date-time"},"publicatiekanalen":{"type":"array","items":{"type":"object","enum":["YourEurope"],"example":"YourEurope"},"uniqueItems":true},"tags":{"type":"array","items":{"type":"object","example":null},"uniqueItems":true},"type":{"type":"object","enum":["AdviesBegeleiding","Bewijs","FinancieleVerplichting","FinancieelVoordeel","InfrastructuurMateriaal","Toelating","Voorwerp"],"example":"AdviesBegeleiding"},"themas":{"type":"array","items":{"type":"object","enum":["BouwenWonen","BurgerOverheid","CultuurSportVrijeTijd","EconomieWerk","MilieuEnergie","MobiliteitOpenbareWerken","OnderwijsWetenschap","WelzijnGezondheid"],"example":"BouwenWonen"},"uniqueItems":true},"doelgroepen":{"type":"array","items":{"type":"object","enum":["Burger","LokaalBestuur","Onderneming","Vereniging","VlaamseOverheid","Organisatie"],"example":"Burger"},"uniqueItems":true},"talen":{"type":"array","items":{"type":"object","enum":["NLD","FRA","DEU","ENG"],"example":"NLD"},"uniqueItems":true},"geografischToepassingsgebieden":{"type":"array","items":{"type":"object","enum":["BE","BE1","BE2","BE21","BE22","BE23","BE24","BE25","BE211","BE212","BE213","BE221","BE222","BE223","BE231","BE232","BE233","BE234","BE235","BE236","BE241","BE242","BE251","BE252","BE253","BE254","BE255","BE256","BE257","BE258","BE21111001","BE21111002","BE21111004","BE21111005","BE21111007","BE21111008","BE21111009","BE21111013","BE21111016","BE21111018","BE21111021","BE21111022","BE21111023","BE21111024","BE21111025","BE21111029","BE21111030","BE21111035","BE21111037","BE21111038","BE21111039","BE21111040","BE21111044","BE21111050","BE21111052","BE21111053","BE21111054","BE21111055","BE23646030","BE21111056","BE21111057","BE21212002","BE21212005","BE21212007","BE21212009","BE21212014","BE21212021","BE21212025","BE21212026","BE21212029","BE21212041","BE21212030","BE21212034","BE21212035","BE21212040","BE21313001","BE21313002","BE21313003","BE21313004","BE21313006","BE21313008","BE21313010","BE21313011","BE21313012","BE21313013","BE21313014","BE21313016","BE21313017","BE21313019","BE21313021","BE21313023","BE21313025","BE21313029","BE21313031","BE21313035","BE21313036","BE21313037","BE21313040","BE21313044","BE21313046","BE21313049","BE21313053","BE22171002","BE22171004","BE22171011","BE22171016","BE22171017","BE22171020","BE22171072","BE22171022","BE22171024","BE22171034","BE22171037","BE22171045","BE22572042","BE22171047","BE22171053","BE22171071","BE22171057","BE22171066","BE22171067","BE22171069","BE22171070","BE22272003","BE22272004","BE22272018","BE22272020","BE22272021","BE22572043","BE22272025","BE22272029","BE22272030","BE22272037","BE22272038","BE22272039","BE22272040","BE22272041","BE22373001","BE22373110","BE22373006","BE22373111","BE22373009","BE22373022","BE22373028","BE22373032","BE22373040","BE22373042","BE22373066","BE22373083","BE22373098","BE22373107","BE22373109","BE23141002","BE23141011","BE23141018","BE23141024","BE23141027","BE23141034","BE23141048","BE23141063","BE23141081","BE23141082","BE23242003","BE23242004","BE23242006","BE23242008","BE23242010","BE23242011","BE23242023","BE23242025","BE23242026","BE23242028","BE23343002","BE23343005","BE23343007","BE23343010","BE23343014","BE23343018","BE23444001","BE23444001_VOOR_FUSIE_2019","BE23444029","BE23444011","BE23444011_VOOR_FUSIE_2019","BE23444049","BE23444086","BE23444012","BE23444013","BE23444019","BE23444020","BE23444021","BE23444087","BE23444034","BE23444085","BE23444036","BE23444088","BE23444040","BE23444043","BE23646029","BE23444045","BE23444048","BE23444052","BE23444064","BE23444072","BE23444073","BE23444080","BE23444081","BE23545068","BE23545017","BE23545035","BE23545041","BE23545057","BE23545059","BE23545060","BE23545061","BE23545062","BE23545063","BE23545064","BE23545065","BE23646003","BE23646013","BE23646014","BE23646020","BE23646021","BE23646024","BE23646025","BE24123002","BE24123003","BE24123009","BE24123016","BE24123106","BE24123023","BE24123024","BE24123025","BE24123027","BE24123032","BE24123033","BE24123038","BE24123039","BE24123044","BE24123045","BE24123047","BE24123050","BE24123052","BE24123060","BE24123062","BE24123064","BE24123077","BE24123081","BE24123086","BE24123088","BE24123094","BE24123096","BE24123097","BE24123098","BE24123099","BE24123100","BE24123101","BE24123102","BE24123103","BE24123104","BE24123105","BE24224001","BE24224007","BE24224008","BE24224009","BE24224011","BE24224014","BE24224016","BE24224020","BE24224028","BE24224033","BE24224038","BE24224041","BE24224043","BE24224045","BE24224048","BE24224054","BE24224055","BE24224059","BE24224062","BE24224066","BE24224086","BE24224094","BE24224104","BE24224107","BE24224109","BE24224130","BE24224133","BE24224134","BE24224135","BE24224137","BE25131003","BE25131004","BE25131005","BE25131006","BE25131012","BE25131022","BE25131033","BE25131040","BE25131042","BE25131043","BE25232003","BE25232006","BE25232010","BE25232011","BE25232030","BE25333011","BE25333016","BE25333021","BE25333029","BE25333037","BE25333039","BE25333040","BE25333041","BE25434002","BE25434003","BE25434009","BE25434013","BE25434022","BE25434023","BE25434025","BE25434027","BE25434040","BE25434041","BE25434042","BE25434043","BE25535002","BE25535005","BE25535006","BE25535011","BE25535013","BE25535014","BE25535029","BE25636006","BE25636007","BE25636008","BE25636010","BE25636011","BE25636012","BE25636015","BE25636019","BE25737002","BE25737022","BE25737007","BE25737010","BE25737011","BE25737021","BE25737012","BE25737015","BE25737017","BE25737018","BE25737020","BE25838002","BE25838008","BE25838014","BE25838016","BE25838025"],"example":"BE"},"uniqueItems":true},"yourEuropeCategorieen":{"type":"array","items":{"type":"object","enum":["Reizen","ReizenDocumenten","ReizenRechtenVerplichtingen","ReizenOndersteuningBeperkteMobiliteit","ReizenGoederen","ReizenElektronischeGegevens","WerkEnPensionering","WerkEnPensioneringWerkZoeken","WerkEnPensioneringGaanWerken","WerkEnPensioneringErkenningKwalificaties","WerkEnPensioneringBelastingheffing","WerkEnPensioneringAansprakelijkheidEnVerzekeringen","WerkEnPensioneringArbeidsvoorwaarden","WerkEnPensioneringGelijkeBehandeling","WerkEnPensioneringGezondheidEnVeiligheid","WerkEnPensioneringSocialezekerheidsrechten","Voertuigen","VoertuigenVerplaatsing","VoertuigenVerleningRijbewijzen","VoertuigenVerplichteVerzekering","VoertuigenKoopVerkoop","VoertuigenVerkeersregels","Verblijf","VerblijfVerhuizing","VerblijfKoopVerkoop","VerblijfVerkiezingen","VerblijfVerblijfskaarten","VerblijfNaturalisatie","VerblijfOverlijden","OnderwijsOfStage","OnderwijsOfStageOnderwijsstelsel","OnderwijsOfStageVrijwilligerswerk","OnderwijsOfStageStage","OnderwijsOfStageOnderzoek","Gezondheidszorg","GezondheidszorgMedischeBehandeling","GezondheidszorgGeneesmiddelenKopen","GezondheidszorgZiekteverzekering","GezondheidszorgPreventieveOpenbareGezondheidsmaatregelen","GezondheidszorgNoodnummers","GezondheidszorgWoonzorgcentrum","BurgerEnFamilieRechten","BurgerEnFamilieRechtenKinderen","BurgerEnFamilieRechtenPartners","BurgerEnFamilieRechtenGenderIdentiteit","BurgerEnFamilieRechtenErfrechtenEnPlichten","BurgerEnFamilieRechtenOntvoeringKinderen","Consumentenrechten","ConsumentenrechtenAankoop","ConsumentenrechtenBankrekening","ConsumentenrechtenNutsvoorzieningen","ConsumentenrechtenBetalingen","ConsumentenrechtenConsumentenrechten","ConsumentenrechtenVeiligheid","ConsumentenrechtenHuurMotorvoertuigen","BeschermingPersoonsgegevens","BeschermingPersoonsgegevensUitoefeningRechten","Bedrijf","BedrijfRegistratieproceduresRechtsvormen","BedrijfVerplaatsing","BedrijfIntellectueleEigendomsrechten","BedrijfTransparantie","BedrijfOnlineBetaalFuncties","BedrijfOvereenkomstenrecht","BedrijfInsolventieLiquidatie","BedrijfKredietVerzekering","BedrijfFusieVerkoop","BedrijfAansprakelijkheidBestuurders","BedrijfPersoonsgegevens","Werknemers","WerknemersArbeidsvoorwaarden","WerknemersSocialezekerheid","WerknemersTewerkstelling","WerknemersGelijkeBehandeling","WerknemersPersoneelsvertegenwoordiging","Belastingen","BelastingenBTW","BelastingenAccijnzen","BelastingenDouanerechten","BelastingenDouaneprocedures","BelastingenOverigeBelastingen","Goederen","GoederenCEMarkering","GoederenVoorschriftenVereisten","GoederenNormenSpecificatiesCertificering","GoederenErkenningZonderSpecificaties","GoederenGevaarlijkeStoffen","GoederenVerkoopOpAfstand","GoederenProductenMetGebreken","GoederenKeurmerken","GoederenRecyclage","Diensten","DienstenLicentiesVergunningen","DienstenKennisgevingGrensoverschrijdendeActiviteiten","DienstenErkenningBeroepskwalificaties","Bedrijfsfinanciering","BedrijfsfinancieringFinancieringUnie","BedrijfsfinancieringFinancieringNationaal","BedrijfsfinancieringOndernemersInitiatieven","Overheidsopdrachten","OverheidsopdrachtenDeelname","OverheidsopdrachtenOnlineInschrijving","OverheidsopdrachtenMeldingOnregelmatigheden","GezondheidVeiligheidWerk","GezondheidVeiligheidWerkVerplichtingen","ProcedureGeboorte","ProcedureGeboorteBewijs","ProcedureVerblijf","ProcedureVerblijfBewijs","ProcedureStudie","ProcedureStudieAanvraagTertiairOnderwijs","ProcedureStudieVerzoekToelatingTertiairOnderwijs","ProcedureStudieVerzoekErkenningDiploma","ProcedureWerk","ProcedureWerkVerzoek","ProcedureWerkWijzigingBeroepssituatie","ProcedureWerkAanvraagZiekteverzekeringskaart","ProcedureWerkAangifteInkomstenbelasting","ProcedureVerhuizing","ProcedureVerhuizingAdreswijziging","ProcedureVerhuizingInschrijvingMotorvoertuig","ProcedureVerhuizingStickersWegeninfrastructuur","ProcedureVerhuizingEmissiestickers","ProcedurePensionering","ProcedurePensioneringAanvraagUitkering","ProcedurePensioneringVerzoekOmInformatie","ProcedureStartenExploiterenSluitenBedrijf","ProcedureStartenExploiterenSluitenBedrijfKennisgeving","ProcedureStartenExploiterenSluitenBedrijfPensioenEnVerzekeringsregelingenWerkgever","ProcedureStartenExploiterenSluitenBedrijfPensioenEnVerzekeringsregelingenWerknemer","ProcedureStartenExploiterenSluitenBedrijfAangifteVennootschapsbelasting","ProcedureStartenExploiterenSluitenBedrijfBeeindigingArbeidsovereenkomst","ProcedureStartenExploiterenSluitenBedrijfBetalingSocialeBijdragen"],"example":"Reizen"},"uniqueItems":true},"regelgevingTekst":{"$ref":"#/components/schemas/InputVertalingen"},"uitzonderingen":{"$ref":"#/components/schemas/InputVertalingen"},"zoektermen":{"$ref":"#/components/schemas/InputVertalingen"},"aangemaaktDoor":{"$ref":"#/components/schemas/PubliekeOrganisatie"},"bevoegdeOverheden":{"type":"array","items":{"$ref":"#/components/schemas/PubliekeOrganisatie"}},"uitvoerendeOverheden":{"type":"array","items":{"$ref":"#/components/schemas/PubliekeOrganisatie"}},"contactOverheden":{"type":"array","items":{"$ref":"#/components/schemas/ContactOrganisatie"}},"contactBeschrijving":{"$ref":"#/components/schemas/InputVertalingen"},"voorwaarden":{"type":"array","items":{"$ref":"#/components/schemas/ShaclOrderedUpsertVoorwaarde"}},"procedures":{"type":"array","items":{"$ref":"#/components/schemas/ShaclOrderedUpsertProcedureJson"}},"websites":{"type":"array","items":{"$ref":"#/components/schemas/ShaclOrderedUpsertWebsite"}},"kosten":{"type":"array","items":{"$ref":"#/components/schemas/ShaclOrderedUpsertKost"}},"financieleVoordelen":{"type":"array","items":{"$ref":"#/components/schemas/ShaclOrderedUpsertFinancieelVoordeel"}},"regelgeving":{"type":"array","items":{"$ref":"#/components/schemas/ShaclOrderedUpsertRegelgeving"}},"contactgegevens":{"type":"array","items":{"$ref":"#/components/schemas/ShaclOrderedUpsertContactgegevens"}},"linkedConcept":{"type":"object","format":"uuid","example":null},"subsidiemaatregel":{"type":"string","enum":["CA","CB","CD","CE","EA","EB","EC","ED","EF","EG","EH","EI","EJ","EK","EL","EM","EN","EO","FA","FB","FC","FD","FE","FF","FG","FH","FI","GB","GC","GE_01","GE_02","GE_03","GE_04","GF","GH","GI","GJ","GK","GL","GM","GQ","GR_01","GR_02","GR_03","GR_04","GS_01","GS_02","GS_03","GS_04","GS_05","GS_06","GS_07","GS_08","GT_01","GT_02","GT_03","GT_04","GT_05","GT_06","GT_07","GT_08","GT_09","GT_10","GT_11","GU_01","GU_02","GU_03","GU_04","HA","HA_01","HA_02","HA_03","HA_04","HA_05","HA_06","HA_07","HB","HB_01","HB_02","HC_01","HC_02","HC_03","HC_04","HC_05","HC_06","HC_07","HC_08","HC_09","HC_10","HC_11","HD_01","HD_02","HD_03","HD_04","HD_05","HD_06","HD_07","HD_08","HE_01","HE_02","HE_03","HE_04","HF_01","HF_02","HF_03","HF_04","HF_05","HG_01","HG_02","HH","HI_01","HI_02","HI_03","HI_04","HJ","HK","HL","HM","HN","HO","HP","HQ","HR","HS","HT","HT_01","HT_02","HT_03","HT_04","HT_05","HT_06","HT_07","HT_08","HT_09","HT_10","HU","HU_01","HU_02","HU_03","HU_04","HU_05","HU_06","HU_07","HU_08","HV","HV_01","HV_02","HV_03","HV_04","HV_05","HV_06","HW","HX","JA","JC","JE","JF","JG","JH","JI","KA","KB_01","KB_02","KB_03","KD","KE","KF","MB","MC","MD","ME","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","QA","QB","QC","QD","QE","QF","QG","QH","QI","QJ","QK","QM","QN","QO","QP","QQ","QR","QT","SA","SB","SC","SD","SE","SF","SG_01","SG_02","SH_01","SH_02","SI","SJ_01","SJ_02","SJ_03","SJ_04","SL","SM","SN","SO","SP","SQ","SR","SS","ST","SU","SW","SZ","TA","TB","TC","TD","TF","TG","TH","TI","TJ","TK","TL","TM","TN","TO","TQ","TR","TS","TT","TU","TV","TW","TX","TY","VB"]},"publicatieLink":{"$ref":"#/components/schemas/Website"},"verwanteProducten":{"type":"array","items":{"$ref":"#/components/schemas/ShaclOrderedUpsertVerwantProductJson"}},"deminimis":{"type":"boolean"},"creatie":{"type":"string","format":"date-time"},"laatstGewijzigd":{"type":"string","format":"date-time"}},"required":["beschrijving","bevoegdeOverheden","geografischToepassingsgebieden","naam"]},"Website":{"properties":{"beschrijving":{"type":"object","example":{"nl":"Een nederlandse vertaling","en":"An english translation"}},"naam":{"type":"object","example":{"nl":"Een nederlandse vertaling","en":"An english translation"}},"url":{"type":"object","example":"https://url"}}},"BooleanVoorwaardeJson":{"allOf":[{"$ref":"#/components/schemas/VoorwaardeJson"}]},"CaseId":{"properties":{"value":{"type":"string"}}},"ContactOrganisatieJson":{"properties":{"id":{"type":"object","example":"https://url"},"@id":{"type":"object","example":"https://url"}}},"JsonLdTypedAdres":{"properties":{"land":{"type":"object","example":{"nl":"Een nederlandse vertaling","en":"An english translation"}},"huisnummer":{"type":"string"},"busnummer":{"type":"string"},"postcode":{"type":"string"},"gemeentenaam":{"type":"object","example":{"nl":"Een nederlandse vertaling","en":"An english translation"}},"straatnaam":{"type":"object","example":{"nl":"Een nederlandse vertaling","en":"An english translation"}},"@type":{"type":"string"}}},"JsonLdTypedBewijs":{"properties":{"beschrijving":{"type":"object","example":{"nl":"Een nederlandse vertaling","en":"An english translation"}},"naam":{"type":"object","example":{"nl":"Een nederlandse vertaling","en":"An english translation"}},"@type":{"type":"string"}}},"JsonLdWrappedJsonInstantieJson":{"properties":{"id":{"type":"string"},"@context":{"type":"array","items":{"type":"string","format":"uri"}},"@id":{"type":"string","format":"uri"},"@type":{"type":"string"},"bevoegdBestuursniveaus":{"type":"array","items":{"type":"object","enum":["Europees","Federaal","Vlaams","Provinciaal","Lokaal"],"example":"Europees"},"uniqueItems":true},"uitvoerendBestuursniveaus":{"type":"array","items":{"type":"object","enum":["Europees","Federaal","Vlaams","Provinciaal","Lokaal","Derden"],"example":"Europees"},"uniqueItems":true},"naam":{"type":"object","example":{"nl":"Een nederlandse vertaling","en":"An english translation"}},"beschrijving":{"type":"object","example":{"nl":"Een nederlandse vertaling","en":"An english translation"}},"verdereBeschrijving":{"type":"object","example":{"nl":"Een nederlandse vertaling","en":"An english translation"}},"startDienstVerlening":{"type":"string","format":"date-time"},"eindeDienstVerlening":{"type":"string","format":"date-time"},"publicatiekanalen":{"type":"array","items":{"type":"object","enum":["YourEurope"],"example":"YourEurope"},"uniqueItems":true},"cases":{"type":"array","items":{"$ref":"#/components/schemas/CaseId"},"uniqueItems":true},"type":{"type":"object","enum":["AdviesBegeleiding","Bewijs","FinancieleVerplichting","FinancieelVoordeel","InfrastructuurMateriaal","Toelating","Voorwerp"],"example":"AdviesBegeleiding"},"tags":{"type":"array","items":{"type":"object","example":null},"uniqueItems":true},"themas":{"type":"array","items":{"type":"object","enum":["BouwenWonen","BurgerOverheid","CultuurSportVrijeTijd","EconomieWerk","MilieuEnergie","MobiliteitOpenbareWerken","OnderwijsWetenschap","WelzijnGezondheid"],"example":"BouwenWonen"},"uniqueItems":true},"doelgroepen":{"type":"array","items":{"type":"object","enum":["Burger","LokaalBestuur","Onderneming","Vereniging","VlaamseOverheid","Organisatie"],"example":"Burger"},"uniqueItems":true},"talen":{"type":"array","items":{"type":"object","enum":["NLD","FRA","DEU","ENG"],"example":"NLD"},"uniqueItems":true},"geografischToepassingsgebieden":{"type":"array","items":{"type":"object","enum":["BE","BE1","BE2","BE21","BE22","BE23","BE24","BE25","BE211","BE212","BE213","BE221","BE222","BE223","BE231","BE232","BE233","BE234","BE235","BE236","BE241","BE242","BE251","BE252","BE253","BE254","BE255","BE256","BE257","BE258","BE21111001","BE21111002","BE21111004","BE21111005","BE21111007","BE21111008","BE21111009","BE21111013","BE21111016","BE21111018","BE21111021","BE21111022","BE21111023","BE21111024","BE21111025","BE21111029","BE21111030","BE21111035","BE21111037","BE21111038","BE21111039","BE21111040","BE21111044","BE21111050","BE21111052","BE21111053","BE21111054","BE21111055","BE23646030","BE21111056","BE21111057","BE21212002","BE21212005","BE21212007","BE21212009","BE21212014","BE21212021","BE21212025","BE21212026","BE21212029","BE21212041","BE21212030","BE21212034","BE21212035","BE21212040","BE21313001","BE21313002","BE21313003","BE21313004","BE21313006","BE21313008","BE21313010","BE21313011","BE21313012","BE21313013","BE21313014","BE21313016","BE21313017","BE21313019","BE21313021","BE21313023","BE21313025","BE21313029","BE21313031","BE21313035","BE21313036","BE21313037","BE21313040","BE21313044","BE21313046","BE21313049","BE21313053","BE22171002","BE22171004","BE22171011","BE22171016","BE22171017","BE22171020","BE22171072","BE22171022","BE22171024","BE22171034","BE22171037","BE22171045","BE22572042","BE22171047","BE22171053","BE22171071","BE22171057","BE22171066","BE22171067","BE22171069","BE22171070","BE22272003","BE22272004","BE22272018","BE22272020","BE22272021","BE22572043","BE22272025","BE22272029","BE22272030","BE22272037","BE22272038","BE22272039","BE22272040","BE22272041","BE22373001","BE22373110","BE22373006","BE22373111","BE22373009","BE22373022","BE22373028","BE22373032","BE22373040","BE22373042","BE22373066","BE22373083","BE22373098","BE22373107","BE22373109","BE23141002","BE23141011","BE23141018","BE23141024","BE23141027","BE23141034","BE23141048","BE23141063","BE23141081","BE23141082","BE23242003","BE23242004","BE23242006","BE23242008","BE23242010","BE23242011","BE23242023","BE23242025","BE23242026","BE23242028","BE23343002","BE23343005","BE23343007","BE23343010","BE23343014","BE23343018","BE23444001","BE23444001_VOOR_FUSIE_2019","BE23444029","BE23444011","BE23444011_VOOR_FUSIE_2019","BE23444049","BE23444086","BE23444012","BE23444013","BE23444019","BE23444020","BE23444021","BE23444087","BE23444034","BE23444085","BE23444036","BE23444088","BE23444040","BE23444043","BE23646029","BE23444045","BE23444048","BE23444052","BE23444064","BE23444072","BE23444073","BE23444080","BE23444081","BE23545068","BE23545017","BE23545035","BE23545041","BE23545057","BE23545059","BE23545060","BE23545061","BE23545062","BE23545063","BE23545064","BE23545065","BE23646003","BE23646013","BE23646014","BE23646020","BE23646021","BE23646024","BE23646025","BE24123002","BE24123003","BE24123009","BE24123016","BE24123106","BE24123023","BE24123024","BE24123025","BE24123027","BE24123032","BE24123033","BE24123038","BE24123039","BE24123044","BE24123045","BE24123047","BE24123050","BE24123052","BE24123060","BE24123062","BE24123064","BE24123077","BE24123081","BE24123086","BE24123088","BE24123094","BE24123096","BE24123097","BE24123098","BE24123099","BE24123100","BE24123101","BE24123102","BE24123103","BE24123104","BE24123105","BE24224001","BE24224007","BE24224008","BE24224009","BE24224011","BE24224014","BE24224016","BE24224020","BE24224028","BE24224033","BE24224038","BE24224041","BE24224043","BE24224045","BE24224048","BE24224054","BE24224055","BE24224059","BE24224062","BE24224066","BE24224086","BE24224094","BE24224104","BE24224107","BE24224109","BE24224130","BE24224133","BE24224134","BE24224135","BE24224137","BE25131003","BE25131004","BE25131005","BE25131006","BE25131012","BE25131022","BE25131033","BE25131040","BE25131042","BE25131043","BE25232003","BE25232006","BE25232010","BE25232011","BE25232030","BE25333011","BE25333016","BE25333021","BE25333029","BE25333037","BE25333039","BE253330
[...]
